<!-- this page has 4 box cards aligned parallely and will have service name along with description inside each box  -->

<h1 style="text-align: center;margin-top: 20px;">Our Services</h1>

<div class="container" style="display: flex; justify-content: space-around; margin-top: 20px;">
    <div class="card" style="width: 18rem;">
        <img src="assets/images/image1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title
            ">Service 1</h5>
            <p class="card-text">This is a service 1 description.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="assets/images/image2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Service 2</h5>
            <p class="card-text">This is a service 2 description.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="assets/images/image7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Service 3</h5>
            <p class="card-text">This is a service 3 description.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="assets/images/image6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Service 4</h5>
            <p class="card-text">This is a service 4 description.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>